<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Anchor</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>anchor</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.REPLACE_ME</string>
			</array>
		</dict>
	</array>
	<key>COGNITO_DOMAIN</key>
	<string>anchor-v0-569645681060.auth.us-east-1.amazoncognito.com</string>
	<key>COGNITO_CLIENT_ID</key>
	<string>f5nppnve0tj2sl234a7br6akn</string>
	<key>COGNITO_REDIRECT_URI</key>
	<string>anchor://auth/callback</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSFamilyControlsUsageDescription</key>
	<string>Anchor needs Screen Time access to block apps during Anchored Mode.</string>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
